.container {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 60px 1fr;
}

.header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 300px 1fr 200px;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: var(--mat-sys-secondary-container);
}

.header > .user-banner {
  grid-column: 1;
  grid-row: 2;
  font-size: 30px;
  font-weight: bold;
}

.header > .user-banner > .username {
    color: var(--mat-sys-on-surface);
}

.header > button {
  grid-row: 2;
  grid-column: 3;
}

router-outlet {
  display: none;
}

img {
    height: 100%;
}
