<div class="main">
  <h1>Checkout Time</h1>
  <img class="crab" src="assets/images/stylized_crab.webp" />
  <div class="controls">
    <button (click)="clearCart()" mat-raised-button color="warn" class="button">
      Cancel Order
    </button>
    <button
      (click)="submit()"
      mat-raised-button
      color="primary"
      class="button"
    >
      Checkout
    </button>
  </div>
</div>
<div class="sidebar">
  <div class="item-list" #itemList>
    <div class="item" *ngFor="let item of cart">
      <div class="item-name">
        {{
          item.item.name.length > 25
            ? (item.item.name | slice: 0 : 25) + "..."
            : item.item.name
        }}
      </div>
      <div class="item-total">
        {{ item.total / 100 | currency: "USD" : "symbol" : "1.2-2" }}
      </div>
      <div class="item-quantity" *ngIf="item.quantity > 1">
        {{ item.quantity }} &#64;
        {{ item.item.price / 100 | currency: "USD" : "symbol" : "1.2-2" }}
      </div>
    </div>
  </div>
  <div class="total-display">
    <div>Total:</div>
    <div>
      {{ cart.getTotal() / 100 | currency: "USD" : "symbol" : "1.2-2" }}
    </div>
  </div>
</div>
